<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <p><a href="{{ url }}">{{ url_linktext }}</a></p>
    <form action="/search" method="post">
      <div><input type="text" name="content" size="200"></input></div>
      <div><input type="submit" value="Search Questions"></div>
    </form>
    <form action="/ask" method="post">
      <div><input type="text" name="content" size="200"></input></div>
      <div><input type="submit" value="Ask a Question"></div>
    </form>
    <p>OK, so you are interested to know<br />&quot;{{ current_focus }}&quot;</p>
    <p>It took me <font color="red">{{ response_time }}</font> milliseconds to remember that:</p>
    <ol>
    {% for question in questions %}
      <li>
      {% if question.author %}
        <i>{{ question.author.nickname }}</i> asked:
      {% else %}
        <i>An anonymous person</i> asked:
      {% endif %}
      <blockquote>{{ question.content|escape }}</blockquote>
      </li>
    {% endfor %}
    </ol>
    <hr />
    <p><font color="green">Admin Tools</font></p>
    <form action="/load" enctype="multipart/form-data" method="post">
      <div><input type="file" name="questions_file" size="200"></input></div>
      <div><input type="submit" value="Load Questions"></div>
    </form>
    <form action="/clear" method="post">
      <div><input type="submit" value="Clear Questions"></div>
    </form>
    <hr />
  </body>
</html>
